<% if session[:discord_id].present? %>
  <%# redirect to dashboard %>
  <p>Redirecting to your dashboard...</p>
  <p>If you are not redirected automatically, <%= link_to "click here", dashboard_path %>.</p>
  <script>
    window.location.href = "<%= dashboard_path %>";
  </script>
<% else %>
  <h1>UAGPMC Secure Portal</h1>
  <%= link_to "Authorize with Discord", "/auth/discord" %>
<% end %>