/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* hide scrollbar without losing functionality */
::-webkit-scrollbar {
    display: none;
}

/* set default font to monospace */
html {
    font-family: monospace;
}

/* remove header margin if first child */
h1:first-child {
    margin-top: 0;
}

/* dark mode defaults */
html {
    background-color: black;
    color: white;
}

a {
    color: #0f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* right-align table headers */
th {
    text-align: right;
}